.product-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.product-img{
  width: 17rem;
  height: 13rem;
  object-fit: scale-down;
}

.product-details{
  display: flex;
  gap: .4rem;
  font-size: .8rem;
  font-weight: 500;
}