*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  display: flex;
  text-align: center;
}

.products-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
  margin: 2rem;
}

.product-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(221, 219, 219);
}

.product-img{
  width: 17rem;
  height: 17rem;
  object-fit: scale-down;
}